.footer {
  border-left: ridge;
  border-left-width: 1px;
  width: 350px;

  padding-top: 130px;

  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer-title {
  color: var(--category-title-color);
  margin-bottom: 8px;
  font-size: 1.2em;
}
.footer-description {
  color: var(--category-description-color);
  margin-bottom: 8px;
}
.footer-link {
  color: var(--icon-color);
  margin-bottom: 16px;
}

.footer-container {
}

@media only screen and (max-width: 1420px) {
  .footer {
    display: none;
  }
}
