.header {
  height: 100vh;
  width: 320px;
  background-color: #e6e6e6;

  overflow-y: auto;
}

.header-back {
  height: 40px;
  margin-bottom: 20px;
}

.header-home {
  display: flex;
  height: 60px;

  padding-left: 20px;
  gap: 16px;

  margin-bottom: 20px;

  align-items: center;
}

.header-home:hover {
  background-color: #d4d4d4;
}

.header-home > img {
  height: 30px;
}

.header-search-container {
  display: flex;
  justify-content: center;

  margin-bottom: 25px;
}

.header-search {
  width: 90%;
  height: 32px;
  padding: 9px 10px 11px 10px;
  border-style: solid;
  border-color: var(--header-search-box-color);
  font-size: 1em;
}

.header-search::placeholder {
  color: var(--placeholder-color);
}

.header-search:hover {
  border-color: var(--header-search-highlighted-box-color);
}

.header-search:focus {
  border-color: var(--icon-color);
}

.header-search:focus::placeholder {
  color: var(--placeholder-highlight-color);
}

.header-title {
  padding-left: 20px;
  margin-bottom: 30px;
}

/* .header-list {
} */

.header-list-item {
  display: flex;
  gap: 16px;
  align-items: center;

  height: 60px;

  position: relative;
  --selection-color: transparent;
}

.header-list-item:before {
  content: "";
  height: 50%;

  border-left: solid;
  border-left-width: 5px;
  border-color: var(--selection-color);
}

.header-list-item:hover {
  background-color: #d4d4d4;
}

.header-list-item-image {
  max-height: 40px;
}

/* .header-list-item-text {
} */
