.body {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.main {
  flex: 1;

  display: flex;
  padding-top: 72px;
  align-items: flex-start;

  padding-left: 350px;
  gap: 60px;
}

.main > * {
  max-width: 575px;
}
